
@{
    ViewBag.Title = "Voting";
}

<html>
<head>
    <!-- Information about the page -->
    <!--This is the comment tag-->
    <title>Voting Information</title>
</head>
<body>
  <h1> Find voting information for the 2020 Presidential election below</h1>
   <h2> Voting registration differs state to state. Click your state below to see your states requirements. </h2> 
   
   <h3>
       <div> Alabama </div>
       <div> Alaska </div>
       <div> Arizona </div>
       <div> Arkansas </div>
       <div> California </div>
       <div> Colorado </div>
       <div> Connecticut </div>
       <div> DC </div>
       <div> Deleware </div>
       <div> Flordia </div>
       <div> Georgia </div>
       <div> Hawaii </div>
       <div> Idaho </div>
   </h3>

    <h4>
        <div> </div>
    </h4>
    
    <div> Register to vote <a href=" https://www.vote.org/register-to-vote/ " target="_blank"> here </a> </div>
    <div> Check your registration status <a href="https://www.vote.org/am-i-registered-to-vote/ " target="_blank"> here </a> </div>
    <div> Get an absentee ballot <a href=" https://www.vote.org/absentee-ballot/ " target="_blank"> here </a> </div>
    <div> Sign up to get election reminders <a href="https://www.vote.org/election-reminders/ " target="_blank"> here </a> </div>
    <div> Find polling locations here <a href="https://www.vote.org/polling-place-locator/ " target="_blank"> here </a></div>

</body>
</html>

