
@{
    ViewBag.Title = "Voting";
}

<html>
<head>
    <!-- Information about the page -->
    <!--This is the comment tag-->
    <title>Voting Information</title>
</head>
<body>
    <h1> Find voting information for the 2020 Presidential election below</h1>
    <h2> Voting registration differs state to state. Click your state below to see your states requirements. </h2>

    <p>
        <div> <a href="https://www.vote.org/register-to-vote/alabama/"  target="_blank">  Alabama </a></div>
        <div> <a href=" https://www.vote.org/register-to-vote/alaska/" target="_blank"> Alaska </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/arizona/" target="_blank">Arizona </a></div>
        <div> <a href=" https://www.vote.org/register-to-vote/arkansas/" target="_blank">Arkansas</a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/california/" target="_blank">California</a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/colorado/" target="_blank">Colorado </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/connecticut/" target="_blank"> Connecticut </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/dc/" target="_blank"> DC </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/deleware/" target="_blank">Deleware</a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/florida/" target="_blank">Flordia</a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/georgia/" target="_blank">Georgia </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/hawaii/" target="_blank">Hawaii </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/idaho/" target="_blank">Idaho</a> </div>
    </p>

    <p>
        <div> <a href=" https://www.vote.org/register-to-vote/illinois/" target="_blank"> Illinois </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/indiana/" target="_blank">Indiana </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/iowa/" target="_blank"> Iowa </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/kansas/" target="_blank">Kansas </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/kentucky/" target="_blank">Kentucky </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/louisiana/" target="_blank">Louisiana </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/maine/" target="_blank">Maine </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/maryland/" target="_blank">Maryland </a> </div>
        <div><a href=" https://www.vote.org/register-to-vote/massachusetts/" target="_blank"> Massachusetts </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/michigan/" target="_blank">Michigan </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/minnesota/" target="_blank">Minnesota </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/mississippi/" target="_blank">Mississippi </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/missouri/" target="_blank"> Missouri </a> </div> 



    </p>

    <p>
        <div> Montana </div> 
        <div> Nebraska </div>
        <div> Nevada </div>
        <div> New Hampshire </div>
        <div> New Jersey </div>
        <div> New Mexico </div>
        <div> New York </div>
        <div> North Carolina</div>
        <div> North Dakota </div>
        <div> Ohio </div>
        <div> Oklahoma </div>
        <div> Oregon </div>
        <div> Pennsylvania </div>

     
    </p>
    <p>
        <div> Rhode Island </div>
        <div> South Carolina </div>
        <div> South Dakota </div>
        <div> Tennessee </div>
        <div> Texas </div>
        <div> Utah </div>
        <div> Vermont </div>
        <div> Virginia </div>
        <div> Washington </div> 
        <div> West Virginia </div>
        <div> Wisconsin </div> 
        <div> Wyoming </div>
    </p>


    <div> Register to vote <a href=" https://www.vote.org/register-to-vote/ " target="_blank"> here </a> </div>
    <div> Check your registration status <a href="https://www.vote.org/am-i-registered-to-vote/ " target="_blank"> here </a> </div>
    <div> Get an absentee ballot <a href=" https://www.vote.org/absentee-ballot/ " target="_blank"> here </a> </div>
    <div> Sign up to get election reminders <a href="https://www.vote.org/election-reminders/ " target="_blank"> here </a> </div>
    <div> Find polling locations here <a href="https://www.vote.org/polling-place-locator/ " target="_blank"> here </a></div>

</body>
</html>

