
@{
    ViewBag.Title = "Voting";
}

<html>
<head>
    <!-- Information about the page -->
    <!--This is the comment tag-->
    <title>Voting Information</title>
</head>
<body>
    <h1> Find voting information for the 2020 Presidential election below</h1>
    <h2> Voting registration differs state to state. Click your state below to see your states requirements. </h2>

    <p>
        <div> Alabama </div>
        <div> Alaska </div>
        <div> Arizona </div>
        <div> Arkansas </div>
        <div> California </div>
        <div> Colorado </div>
        <div> Connecticut </div>
        <div> DC </div>
        <div> Deleware </div>
        <div> Flordia </div>
        <div> Georgia </div>
        <div> Hawaii </div>
        <div> Idaho </div>
    </p>

    <p>
        <div> Illinois</div>
        <div> Indiana </div>
        <div> Iowa </div>
        <div> Kansas </div>
        <div> Kentucky </div>
        <div> Louisiana </div>
        <div> Maine </div>
        <div> Maryland </div>
        <div> Massachusetts </div>
        <div> Michigan </div>
        <div> Minnesota </div>
        <div> Mississippi </div>
        <div> Missouri </div> 



    </p>

    <p>
        <div> Montana </div> 
        <div> Nebraska </div>
        <div> Nevada </div>
        <div> New Hampshire </div>
        <div> New Jersey </div>
        <div> New Mexico </div>
        <div> New York </div>
        <div> North Carolina</div>
        <div> North Dakota </div>
        <div> Ohio </div>
        <div> Oklahoma </div>
        <div> Oregon </div>
        <div> Pennsylvania </div>

     
    </p>
    <p>
        <div> Rhode Island </div>
        <div> South Carolina </div>
        <div> South Dakota </div>
        <div> Tennessee </div>
        <div> Texas </div>
        <div> Utah </div>
        <div> Vermont </div>
        <div> Virginia </div>
        <div> Washington </div> 
        <div> West Virginia </div>
        <div> Wisconsin </div> 
        <div> Wyoming </div>
    </p>


    <div> Register to vote <a href=" https://www.vote.org/register-to-vote/ " target="_blank"> here </a> </div>
    <div> Check your registration status <a href="https://www.vote.org/am-i-registered-to-vote/ " target="_blank"> here </a> </div>
    <div> Get an absentee ballot <a href=" https://www.vote.org/absentee-ballot/ " target="_blank"> here </a> </div>
    <div> Sign up to get election reminders <a href="https://www.vote.org/election-reminders/ " target="_blank"> here </a> </div>
    <div> Find polling locations here <a href="https://www.vote.org/polling-place-locator/ " target="_blank"> here </a></div>

</body>
</html>

