
@{
    ViewBag.Title = "Voting";
}

<html>
<head>
    <!-- Information about the page -->
    <!--This is the comment tag-->
    <title>Voting Information</title>
</head>
<body>
    <h1> Find voting information for the 2020 Presidential election: </h1>

    <h2> Voting registration differs state to state. Click your state below to see your states requirements. </h2>

    <p>
        <div style="float: left; width: 20%;">
            
                <div> <a href="https://www.vote.org/register-to-vote/alabama/" target="_blank">  Alabama </a></div>
                <div> <a href=" https://www.vote.org/register-to-vote/alaska/" target="_blank"> Alaska </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/arizona/" target="_blank">Arizona </a></div>
                <div> <a href=" https://www.vote.org/register-to-vote/arkansas/" target="_blank">Arkansas</a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/california/" target="_blank">California</a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/colorado/" target="_blank">Colorado </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/connecticut/" target="_blank"> Connecticut </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/dc/" target="_blank"> DC </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/deleware/" target="_blank">Deleware</a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/florida/" target="_blank">Flordia</a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/georgia/" target="_blank">Georgia </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/hawaii/" target="_blank">Hawaii </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/idaho/" target="_blank">Idaho</a> </div>
            </div>
</p>

    <p>
        <div style="float:right; width: 20%;">
            
                <div> <a href=" https://www.vote.org/register-to-vote/illinois/" target="_blank"> Illinois </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/indiana/" target="_blank">Indiana </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/iowa/" target="_blank"> Iowa </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/kansas/" target="_blank">Kansas </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/kentucky/" target="_blank">Kentucky </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/louisiana/" target="_blank">Louisiana </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/maine/" target="_blank">Maine </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/maryland/" target="_blank">Maryland </a> </div>
                <div><a href=" https://www.vote.org/register-to-vote/massachusetts/" target="_blank"> Massachusetts </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/michigan/" target="_blank">Michigan </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/minnesota/" target="_blank">Minnesota </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/mississippi/" target="_blank">Mississippi </a> </div>
                <div> <a href=" https://www.vote.org/register-to-vote/missouri/" target="_blank"> Missouri </a> </div>
                </div>

    </p>

    <p>
        <div style="float:right; width: 20%;">
            <div> <a href=" https://www.vote.org/register-to-vote/montana/" target="_blank">Montana</a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/nebraska/" target="_blank">Nebraska </a> </div>
            <div><a href=" https://www.vote.org/register-to-vote/nevada/" target="_blank"> Nevada </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/new-hampshire/" target="_blank">New Hampshire</a>  </div>
            <div> <a href=" https://www.vote.org/register-to-vote/new-jersey/" target="_blank">New Jersey </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/new-mexico/" target="_blank">New Mexico </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/new-york/" target="_blank">New York </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/north-carolina/" target="_blank">North Carolina </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/north-dakota/" target="_blank">North Dakota </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/ohio/" target="_blank">Ohio </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/oklahoma/" target="_blank">Oklahoma </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/oregon/" target="_blank">Oregon </a> </div>
            <div> <a href=" https://www.vote.org/register-to-vote/pennsylvania/" target="_blank">Pennsylvania </a> </div>

            </div>
    </p>
    <p>
        <div> <a href=" https://www.vote.org/register-to-vote/rhode-island/" target="_blank">Rhode Island </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/south-carolina/" target="_blank">South Carolina </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/south-dakota/" target="_blank">South Dakota </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/tennessee/" target="_blank">Tennessee </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/texas/" target="_blank">Texas </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/utah/" target="_blank">Utah </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/vermont/" target="_blank">Vermont </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/virginia/" target="_blank">Virginia </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/washington/" target="_blank">Washington </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/west-virginia/" target="_blank">West Virginia </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/wisconson/" target="_blank">Wisconsin </a> </div>
        <div> <a href=" https://www.vote.org/register-to-vote/wyoming/" target="_blank">Wyoming </a> </div>
    </p>

    <h3 id="votinginfocontent"> Making sure you are registered to vote is essential.  Check your registration status <a href="https://www.vote.org/am-i-registered-to-vote/ " target="_blank"> here </a> </h3>


    <div> Get an absentee ballot <a href=" https://www.vote.org/absentee-ballot/ " target="_blank"> here. </a> </div>
    <div> Sign up to get election reminders <a href="https://www.vote.org/election-reminders/ " target="_blank"> here </a> </div>
    <div> Find polling locations here <a href="https://www.vote.org/polling-place-locator/ " target="_blank"> here </a></div>
    <div> Find voting Laws & Requirements <a href="https://www.usvotefoundation.org/vote/state-elections/state-voting-laws-requirements.htm" target="_blank"> here </a></div>
    

</body>
</html>

