body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(255,34,31);
    background: linear-gradient(90deg, rgba(255,34,31,0.6395600476518732) 1%, rgba(255,255,255,0.7908205518535539) 47%, rgba(77,117,255,0.39866368910845584) 78%); 
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 80px; 
    padding-left: 100px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#timer
{

    padding-left: 350px; 
}


#votinginfocontent
{

    padding-top: 20px; 
}

#heading2
{
    padding-top: 20px; 
}

#heading9 
{
    padding-top: 30px; 
}

heaad {
    padding-top: 20px;
    padding-bottom: 50px;
}


#headdddding  
{
    padding-top: 40px; 

}

