
@{
    ViewBag.Title = "Key Dates";
}

<h1>Key Dates</h1>
<h2> 2020 Election Key Dates Timeline</h2>

    <h3 id="heading2" style="text-align:center"> August and September 2018: Primaries </h3>

    <p style="text-align:center">
        Various states will hold primaries to select candidates for the midterm elections across August and September.
    </p>

    <h3 id="heading2" style="text-align:center"> August and September 2018: Primaries </h3>
    <p style="text-align:center">
        Various states will hold primaries to select candidates for the midterm elections across August and September. This includes Hawaii, Vermont, Minnesota and Wisconsin.

    </p>

    <h3 id="heading2" style="text-align:center"> January 2020: Primaries and caucuses begin </h3>
    <p style="text-align:center">
        The traditional primaries and caucuses will begin in Iowa and New Hampshire, as states decide upon candidates for both the Democratic and Republican nomination for the presidency.
    </p>


    <h3 id="heading2" style="text-align:center" > November 3rd 2020: Presidential election </h3>
    <p style="text-align:center"> 
        US voters will go to the polls to decide between re-electing Donald Trump for a second term, or choosing whoever emerges as his Democratic opponent.
    </p>
<h3 style="text-align:center">Election Day is on Tuesday November 3rd 2020 </h3>

<div>
<div> Are you interested in early voting ? More Information <a href=" https://www.vote.org/early-voting-calendar/" target="_blank"> here </a></div>
<div> Click this link to learn more about Voter registration Deadlines for each State <a href=" https://www.vote.org/voter-registration-deadlines/" target="_blank"> click here </a> </div>
  </div>

