
@{
    ViewBag.Title = "Key Dates";
}

<h1>Key Dates</h1>
<h2> Find Important Dates for the 2020 Presidential election below</h2>
<h1 style="text-align:center">Election Day is on Tuesday November 3rd 2020 </h1>

<div>
<div> Are you interested in early voting ? More Information <a href=" https://www.vote.org/early-voting-calendar/" target="_blank"> here </a></div>
<div> Click this link to learn more about Voter registration Deadlines for each State <a href=" https://www.vote.org/voter-registration-deadlines/" target="_blank"> click here </a> </div>
  </div>

