@{
    ViewBag.Title = "Home Page";
}

    <body style="background-image:url(https://ak8.picdn.net/shutterstock/videos/11158568/thumb/3.jpg); position:absolute;z-index:0;left:0;top:0;width:100%;height:100%" </body>
<div class="jumbotron">
    
  
    <h1 style="text-align:center" >2020 Elections</h1>
    <p style="text-align:center"> The right to vote is a fundamental principle of our democracy.Your vote is important !</p>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>




